# Pandas: Arithmetic Operations
#python/pandas

In [1]:
import pandas as pd

In [3]:
fruits = pd.Series([10, 3, 4], ['apples', 'oranges', 'bananas'])
fruits

apples     10
oranges     3
bananas     4
dtype: int64

We can amend the elements in fruits with standard arithmetic operations:

In [4]:
fruits + 2

apples     12
oranges     5
bananas     6
dtype: int64

In [5]:
fruits - 2

apples     8
oranges    1
bananas    2
dtype: int64

In [6]:
fruits * 2

apples     20
oranges     6
bananas     8
dtype: int64

In [7]:
fruits / 2

apples     5.0
oranges    1.5
bananas    2.0
dtype: float64

We can also perform mathematical funcitons from numpy such as sqrt().

In [8]:
import numpy as np

In [9]:
np.sqrt(fruits)

apples     3.162278
oranges    1.732051
bananas    2.000000
dtype: float64

In [10]:
np.exp(fruits)

apples     22026.465795
oranges       20.085537
bananas       54.598150
dtype: float64

In [18]:
np.power(fruits, 2)

apples     100
oranges      9
bananas     16
dtype: int64

We can also perform these functions on specific elements within the series.

In [19]:
fruits['bananas'] + 2

6

In [20]:
fruits.iloc[0] -2

8

In [21]:
fruits[['apples','oranges']] * 2

apples     20
oranges     6
dtype: int64

You can use arithmetic operations on a pandas series that contians mixed data types so long as that operation is defined for each data type.